.profile {
  padding: 30px 0;

  &__icons {
    display: flex;
    justify-content: center;

    &__human {
      position: absolute;
      margin: 420px 700px 0 0;

      img {
        width: 120px;
        height: 120px;
      }
    }
  }
}