.edit {

  .loading, .error {
    text-align: center;
    padding: 2rem;
  }
  &__profile {
    padding: 50px 0;
    text-align: center;
    
    h1 {
      font-family: var(--second-family);
      font-weight: 900;
      font-size: 52px;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--text-header);
    }
  }
}