.header {

  &__up {
    padding-top: 14px;
    display: flex;

    &__city {
      display: flex;

      a {
        padding-right: 20px;

        h1 {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: var(--text-dark-alt);
  
          padding-top: 3px;
        }
      }
    }
    &__site {
      padding: 0 0 0 521px;
      display: flex;

      &__searth {
        display: flex;

        h1 {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: var(--text-dark-alt);

          padding: 1.5px 0 1.5px 6px;
        }
      }
      &__auth {
        display: flex;
        padding-left: 24px;

        h1 {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: var(--text-dark-alt);

          padding: 1.5px 0 1.5px 6px;
        }
      }
    }
  }
  &__logo {
    padding-top: 20px;
  }
  &__navbar {
    padding-top: 20px;
    display: flex;

    &__menu {

      a {
        display: flex;
      }
      h1 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--button-primary);

        padding: 3px 0 3px 8px;
      }
    }
    &__navigation {
      display: flex;

      a {
        display: flex;
        padding-left: 97.5px;
      }
      img {
        display: none;
        width: 20px;
        height: 20px;
      }
      h1 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--text-dark-alt);

        padding: 3px 0;
      }

      a:focus {
        padding-left: 80px;

        img {
          display: block;
        }
        h1 {
          color: var(--text-accent);
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .header {

    &__up {
      padding-top: 10px;
  
      &__city {
        display: none;
      }
      &__site {
        padding: 0 0;
      }
    }
    &__navbar {

      &__navigation {
        display: none;
      }
    }
  }
}