.main {
  padding: 40px 0;

  &__news {

    &__navbar {
      display: flex;
      justify-content: space-between;

      &__all {
        border-radius: 35px;
        padding: 5px 15px;
        width: 114px;
        height: 28px;
        background: var(--button-black);

        h1 {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          color: var(--text-white);

          width: max-content;
        }
      }
      &__more {

        a {
          display: flex;
        }
        h1 {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          color: var(--text-accent);

          padding: 3.5px 1px;
        }
      }
    }
  }
  &__cause {

    #image-cause {
      margin: 0 0 0 -108px;
      position: absolute;
    }
    &__content {
      position: absolute;
      padding: 100px 0 101px 0;

      &__text {

        h1 {
          font-family: var(--second-family);
          font-weight: 900;
          font-size: 52px;
          line-height: 110%;
          color: var(--background-white);
        }
      }
      &__five {
        padding-top: 40px;

        &__cause {
          display: flex;
          padding-bottom: 32px;
        }
      }
      &__button {
        padding-top: 16px;
      }
    }
  }
  &__map {
    padding-top: 921px;
  }
}